<div class="container-fluid">
    <div *ngIf="true" class="active-pink-3 active-pink-4 mb-4" style="margin-top: 20px;">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="term">
      </div>
  <table >
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Date</th>
          <th>Weight</th>
          <th>Item</th>
          <th>Price</th>
          <th>Paid Status</th>
          <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        
      <tr *ngFor="let trans of elements1 |filter:term |searchpipe">
        <td>{{trans.id}}</td>
        <td>{{trans.name}}</td>
        <td>{{trans.date}}</td>
        <td>{{trans.weight}}</td>
        <td>{{trans.item}}</td>
        <td>{{trans.price}}</td>
        <td>{{trans.paid}}</td>
        <td class="remark">{{trans.remark  }} <a *ngIf="trans.remark.length > 20  && !checkMe(trans)"  (click)="showMoreText(trans)" style="font-size: 10px; cursor: pointer; color: blue;">showMore</a><a *ngIf="trans.remark.length > 20  && checkMe(trans)"  (click)="showlesstext(trans)" style="font-size: 10px; cursor: pointer; color: blue;">showless</a></td>
        <!-- <a *ngIf="trans.remark.length > 20" (click)="showMoreText(trans)" style="font-size: 10px; cursor: pointer; color: blue;">{{togglePipe ? "Show More" : "Show Less"}}</a> -->
      </tr>
   </tbody>
  </table>
</div>