<div class="container-fluid">
  <table >
      <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Body</th>
          </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trans of elements ">
        <td>{{trans.id}}</td>
        <td>{{trans.name}}</td>
        <td>{{trans.email}}</td>
        <td>{{trans.body  |slice:start:end }}<a #abc *ngIf="toggle "   (click)="showmoretext(trans)"  style="font-size: 10px; cursor: pointer; color: blue;">showMore</a><a *ngIf="!toggle "  (click)="showlesstext(trans)" style="font-size: 10px; cursor: pointer; color: blue;">showless</a></td>
        <!-- <td>{{trans.item}}</td>
        <td>{{trans.price}}</td>
        <td>{{trans.paid}}</td>
        <td class="remark">{{trans.remark  }} <a #abc *ngIf="trans.remark.length > 20  && !checkMe(trans)"  (click)="change($event)" style="font-size: 10px; cursor: pointer; color: blue;">showMore</a><a *ngIf="trans.remark.length > 20  &&checkMe(trans)"  (click)="showlesstext(trans)" style="font-size: 10px; cursor: pointer; color: blue;">showless</a></td> -->
       <!-- <a *ngIf="trans.remark.length > 20" (click)="showMoreText(trans)" style="font-size: 10px; cursor: pointer; color: blue;">{{togglePipe ? "Show More" : "Show Less"}}</a> -->
        <!-- | remarkspipe: togglePipe: remarks   -->
      </tr>
   </tbody>
  </table>
</div>  