.main {
    background-color: rgb(223, 223, 198);
    height: 100%;
    width: 100%;
}


.tt {
    background-color: rgb(248, 248, 248);
    height: 250px;
    margin: 15px;
}
.secondRow {
    margin-top: 20px;
}
.firstrow {
    background-color: green;
    height: 150px;
    margin: 1rem 1rem;
    
    background-image: url('./../../../assets/barber.png');
    
}
.firstrow1 {
    background-color: green;
    height: 150px;
    margin: 1rem 1rem;
    background-image: url('./../../../assets/bakery1.jpg');
    background-size: cover;
    
}
.firstrow2 {
    background-color: green;
    height: 150px;
    margin: 1rem 1rem;
    background-image: url('./../../../assets/agri.jpg');
    background-size: cover;
    
}
.firstrow3 {
    background-color: green;
    height: 150px;
    margin: 1rem 1rem;
    background-image: url('./../../../assets/chakki.jpg');
    background-size: cover;
    
}
.firstrow36 {
    background-color: green;
    height: 150px;
    margin: 1rem 1rem;
    background-image: url('./../../../assets/restro.png');
    background-size: cover;
    
}

.firstrow5 {
    background-color: green;
    height: 150px;
    margin: 1rem 1rem;
    background-image: url('./../../../assets/shoe.png');
    background-size: cover;
    
}
.firstrow22 {
    background-color: green;
    height: 150px;
    margin: 1rem 1rem;
    background-image: url('./../../../assets/book.jpg');
    background-size: cover;
    
}
.firstrow221 {
    background-color: green;
    height: 150px;
    margin: 1rem 1rem;
    background-image: url('./../../../assets/store.png');
    background-size: cover;
    
}
.secondrow {
    background-color: rgb(236, 215, 233);
    height: 50px;
    justify-content: center;
    margin: 1rem;
    

}