<div class="container-fluid main">
    <div class="row">
        <div class="col-sm-3 block">
            <div class="container-fluid tt">
                <a href="">
                        <div class="row firstrow"></div>
                        <div class="row secondrow">
                            <button  mat-button >Barber Shop</button>
                            
                        </div>
                </a>
            </div>
        </div>
        
        <div class="col-sm-3 block">
                <div class="container tt">
                        <a href="">
                                <div class="row firstrow1"></div>
                                <div class="row secondrow">
                                    <button  mat-button >Bakery Shop</button>
                                    
                                </div>
                        </a>
                </div>
            </div>
            <div class="col-sm-3 block">
                    <div class="container tt">
                            <a href="">
                                    <div class="row firstrow2"></div>
                                    <div class="row secondrow">
                                        <button  mat-button >Agro Shop</button>
                                        
                                    </div>
                            </a>
                    </div>
                </div>
                <div class="col-sm-3 block">
                        <div class="container tt">
                                <a href="/layout/customer/make-transaction">
                                        <div class="row firstrow3"></div>
                                        <div class="row secondrow">
                                            <button  mat-button >Chakki Shop</button>
                                            
                                        </div>
                                </a>
                        </div>
                    </div>
        
    </div>
    <div class="row secondRow">
            <div class="col-sm-3 block">
                    <div class="container tt">
                            <a href="">
                                    <div class="row firstrow36"></div>
                                    <div class="row secondrow">
                                        <button  mat-button >Restaurants</button>
                                        
                                    </div>
                            </a>
                    </div>
                </div>
                <div class="col-sm-3 block">
                        <div class="container tt">
                                <a href="">
                                        <div class="row firstrow5"></div>
                                        <div class="row secondrow">
                                            <button  mat-button >Shoe Shop</button>
                                            
                                        </div>
                                </a>
                        </div>
                    </div>
                    <div class="col-sm-3 block">
                            <div class="container tt">
                                    <a href="">
                                            <div class="row firstrow22"></div>
                                            <div class="row secondrow">
                                                <button  mat-button >Book Shop</button>
                                                
                                            </div>
                                    </a>
                            </div>
                        </div>
                        <div class="col-sm-3 block">
                                <div class="container tt">
                                        <a href="">
                                                <div class="row firstrow221"></div>
                                                <div class="row secondrow">
                                                    <button  mat-button >Departmental Store</button>
                                                    
                                                </div>
                                        </a>
                                </div>
                            </div>
        </div>

</div>
