<div class="container-fluid main">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="container-fluid login-bar">
                <div>
                     <form  [formGroup]="loginForm"  (ngSubmit)="onSubmit()"   action="">
                      <div class="form-group">
                         <div class="inp"><input type="text" class="form-control inp"formControlName="userid" placeholder="Enter your username" name="abc"></div>
                         <div class="inp1"><input type="password" class="form-control" formControlName="password" name="password" placeholder="Enter Password"></div>
                         <div>
                                <label for="exampleFormControlSelect1"></label>
                                <select class="form-control" id="exampleFormControlSelect1" formControlName="role" name="selection" >
                                <option>Admin</option>
                                <option>Customer</option>
                                </select>
                        </div>
                        <!-- <mat-form-field>
                            <mat-label>Select an option</mat-label>
                            <mat-select [(value)]="selected">
                              <mat-option>None</mat-option>
                              <mat-option value="option1">Option 1</mat-option>
                              <mat-option value="option2">Option 2</mat-option>
                              <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                          </mat-form-field> -->
                        
                         <div style="margin-top: 10px;"><button mat-raised-button class="btn btn-primary">login</button></div>
                        </div>
                     </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>

    </div>
</div>

