.second {
    height: 400px;
}
.hg {
    background-image: url('/assets/notebook.jpg');
    background-size: cover;
    height: 400px;
    widows: 375px;
}
.hh {
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace
}
.hk {
  background-image: url('/assets/digital.png');
  background-size: cover;
  height: 400px;
  widows: 375px;
}
