<div class="row second">
    <div class="col-sm-5 hg">
       
    </div>
    <div class="col-sm-7 hh">
       <h5 >Business owners have maintained the Khatabook in physical form for years, this is often referred to as Bahi Khata. Traditionally Bahi Khata or Khatabooks are religiously maintained by the Bookkeeper or Muneem. However, with the outset of technological disruptions, many Khatabook apps are now available on play store for business owners to download and use. The benefit of these digital Khatabook is that it ensures no loss of data, which use to be one of the concerns in physical Khatabook. </h5>
        <h5 >Khatabook or Bahi Khata is a record book maintained by small business owners for managing the balances of their customers. It mostly includes the credit balance of customers after purchases are made. In India, it is very common for small business owners to give a credit of 10-30 days to their customers for purchases made. These are mostly the small mom-and-pop grocery shops which supply monthly grocery to nearby residents.

            </h5>
    </div>
</div>
<div class="row third">
        <div class="col-sm-7 hk">
       
            </div>
            <div class="col-sm-5 hh">
               <h5>Digital transactions can be broadly defined as online or automated transactions that take place between people and organizations—without the use of paper. Chances are that you’ve already participated in such a transaction. For instance, if you’ve purchased an item and the sales associate rang you up using an iPad rather than a cash register, you were part of a digital transaction. Or, if you sent or signed a contract online rather than using a printed paper version, you benefited from a digital transaction.</h5>
            </div>
</div>
