<!-- <div class="container-fluid main">
    
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-4 tx-container">
          <div>
              <h5 >Add a transaction</h5>
              <form class="example-form frm">
                    <!-- <mat-form-field class="example-full-width">
                    <input matInput placeholder="" value="">
                    </mat-form-field> -->
                    <!-- <div class="frm1">
                        <mat-label>Item Name</mat-label>
                        <mat-select #fontSize value="Wheat" (selectionChange)="triggerResize()">
                            <mat-option value="10px">Wheat</mat-option>
                            <mat-option value="12px">Millet</mat-option>
                            <mat-option value="14px">Barley</mat-option>
                            <mat-option value="16px">Rice </mat-option>
                            <mat-option value="18px">Maize</mat-option>
                            <mat-option value="20px">Sorghum</mat-option>
                        </mat-select>
                    </div>
                    <div class="frm1">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="weight" value="">
                        </mat-form-field>
                    </div>
                    <div class="frm1">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="frm1">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Total Price" value="">
                        </mat-form-field>
                    </div>
                    <div class="frm1">
                        <!-- <mat-form-field class="example-full-width">
                            <button mat-button>ADD</button>
                        </mat-form-field> -->
                        <!-- <button class="btn" mat-raised-button>ADD</button>
                    </div>
                
                    
              </form>
          </div>
        </div>
    </div>
</div> --> 
<div class="container-fluid rm ">
    <div class="row ">
        <div class="col-sm-8 main"></div>
        <div class="col-sm-4 myd">
                <h5 style="margin-top: 10px;" >Add a transaction</h5>
              <form class="example-form frm">
                    <div>
                            <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" value="">
                            </mat-form-field> 
                    </div> 
                    <div class="frm1">
                        <mat-label>Item Name</mat-label>
                        <mat-select #fontSize value="Wheat" (selectionChange)="triggerResize()">
                            <mat-option value="10px">Wheat</mat-option>
                            <mat-option value="12px">Millet</mat-option>
                            <mat-option value="14px">Barley</mat-option>
                            <mat-option value="16px">Rice </mat-option>
                            <mat-option value="18px">Maize</mat-option>
                            <mat-option value="20px">Sorghum</mat-option>
                        </mat-select>
                    </div>
                    <div class="frm1">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="weight" value="">
                        </mat-form-field>
                    </div>
                    <div class="frm1">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="frm1">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Total Price" value="">
                        </mat-form-field>
                    </div>
                    <div class="frm1">
                        <!-- <mat-form-field class="example-full-width">
                            <button mat-button>ADD</button>
                        </mat-form-field> -->
                        <button class="btn" mat-raised-button>ADD</button>
                    </div>
                
                    
              </form>
        </div>
    </div>
</div> 
