<div *ngIf="isAdmin">
    <div class="container-fluid main">
        <div class="row">
            <div class="col-sm-4"><a href="/all-customer">All Customer</a></div>
            <div class="col-sm-4"><a href="/all-transaction">All transaction</a></div>
            <div class="col-sm-4"> <a href="">Add transaction</a> </div>
        </div>
    </div>
</div>

<div *ngIf="!isAdmin">
    <div class="container-fluid main">
        <div class="row">
            <div class="col-sm-4"> <a href=""> profile</a></div>
            <div class="col-sm-4"> <a href="">Make transaction</a></div>
            <div class="col-sm-4"><a href="">My transaction</a> </div>
        </div>
    </div>
</div>
