<div *ngIf="isAdmin" >
    <div class="container-fluid main">
        <div class="row">
            <div class="col-sm-4"><a href="/layout/admin/all-customer"><button style="width: 100%; height: 100%;" mat-button>All Customer</button></a></div>
            <div class="col-sm-4"><a href="/layout/admin/all-transaction"><button style="width: 100%; height: 100%;" mat-button>All Transaction</button></a></div>
            <div class="col-sm-4"> <a href="/layout/admin/add-transaction"><button style="width: 100%; height: 100%;" mat-button>Add Transaction</button></a> </div>
        </div>
    </div>
</div>

<div *ngIf="!isAdmin">
    <div class="container-fluid main">
        <div class="row">
            <div class="col-sm-4"> <a href=""> profile</a></div>
            <div class="col-sm-4"> <a href="">Make transaction</a></div>
            <div class="col-sm-4"><a href="/layout/customer/my-transaction">My transaction</a> </div>
        </div>
    </div>
</div>
