
    .nav  {
        //background-color:rgb(255, 0, 140);
        height: 80px;
        background-image: url('../../../assets/top-nav.jpg');
       
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        //background-color: rgb(255, 0, 140);
      }
      
      li {
        float: left;
      }
      
      li a {
        display: inline;
        color: white;
        text-align: center;
        padding: 19px 16px;
        text-decoration: none;
        opacity: .6;
        //height: 80px;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
       // background-color: rgb(41, 39, 39);
        background-image: url('../../../assets/top-nav.jpg');
        font-size: 25px;
        height: 80px;
        opacity: 1.5;
      }
      .active {
        background-color: rgb(240, 14, 14);
      }

      .topnav {
        background-image: url('../../../assets/top-nav.jpg');
        text-align: center;
        margin: auto;
      }